@inherits LayoutComponentBase

@inject Services.HubService hubService;

<div class="card card-size">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">SignalR Chat</h1>
            </div>
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><span class="oi oi-person"></span></span>
                    <input type="text" @bind="hubService.username" class="form-control" placeholder="username">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><span class="oi oi-key"></span></span>
                    <input type="password" @bind="hubService.password" class="form-control" placeholder="password">
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary form-control-append float-lg-end" @onclick="hubService.Connect">Conectar</button>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized() {
        hubService.OnChange += () => StateHasChanged();
    }
}
